<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<p id="notice"><%= notice %></p>


<body>
  <h1>Our Bikes</h1>
  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
        <%= render products %>
        <div class="col-sm-3 col-md-3 col-lg-3">
          <h3><%=product.name %></h3>
          <%= image_tag(product.image_url, class: "img-responsive") %>
          <p><%=product.description %></p>
          <p><strong>$ <%=product.price %> / day</strong></p>
          <td><%= link_to 'Show', product %></td><br>
          <td><%= link_to 'Edit', edit_product_path(product) %></td><br>
          <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div><!--end col-->
      <% end %>
    </div><!--end row-->
  </div><!--end container-->
</body>


<br>

<%= link_to 'New Product', new_product_path %>
